[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "springpheno"]
	path = springpheno
	url = https://github.com/cran/springpheno
	shallow = true
	registered = true
